.DS_Store
.vscode
.idea
.git
.gitignore
.gitlab-ci.yml
.prettierignore
.prettierrc.json
.travis.yml
.dockerignore
Dockerfile
docker-compose.yml
appveyor.yml
README.md
npm-debug.log
node_modules
LICENSE
coverage
logs
test
run